// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  margin-bottom: 1rem;
  padding: 1em;
  font-size: .9em !important;
  text-indent: initial;
  background-color: #dbc7a1;
  border-radius: 8px;
  margin-left: -1rem;
  margin-right: -1rem;
}
